.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #623f6df6;
  cursor: pointer;
  transition: border-color 0.25s;
  display: -webkit-inline-box;
  max-width: 64px;
  margin-top: 12px;
}
.btn:hover {
  border-color: #e564ff;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Img {
  border-radius: 12px;
  background-color: #010600;
  padding: 10px;
  flex-direction: row;
}

.Details {
  display: flex;
  gap: 40px;
}

.Overview {
  margin-top: 0px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #623f6df6;
  color: #ffffff;
  height: fit-content;
}

.Overview:focus,
.Overview:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.addInfo {
  display: -webkit-box;
}

@media (prefers-color-scheme: light) {
  .Overview {
    font-weight: 500;
    color: #010600;
    text-decoration: inherit;
  }

  .Overview {
    background-color: #bdf3c9;
  }
  a {
    font-weight: 500;
    color: #107b14;
    text-decoration: inherit;
  }
  a:hover {
    border-color: #33d52e;
    box-shadow: 0 20px 20px 0 rgba(11, 190, 74, 0.2);
  }
  .btn {
    background-color: #bdf3c9;
  }
}

@media only screen and (max-width: 768px) {
  .Img {
    width: 240px;
    height: 320px;
  }
  .Details {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .Img {
    width: 280px;
    height: 360px;
  }
}
