.Form {
  margin-top: 12px;
  display: block;
}

.Input {
  width: 320px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: aliceblue;
  color: black;
  margin: 0 12px 12px 0;
}
