.Title {
  max-width: 360px;
  overflow-y: scroll;
  max-height: 24px;
  text-align: center;
  padding: 3px;
}
.MovieLi {
  border-radius: 16px;
  border: 2px solid black;
  background-color: rgb(39, 34, 21);
  width: 280px;
}
.Img {
  border-radius: 12px 12px 0 0;
}
